# Creating Pickle files of ML Models

So many of you requested me that I should show how to deploy our models in flask. Therefore first I will show you how to save our models and reuse it whenever we want using pickle.

## Pickle

pickle is a library which helps us to store python objects on our disk. It will store all the functions and data associated with the object and we can use later on by unpickling it.

We will create a pickle file of linear regression model and then try to use it for predictions. I have used Admission dataset for training my model.

In [1]:
#So lets build pickle file

In [2]:
#importing libs
import numpy as np
import pandas as pd

In [3]:
df=pd.read_csv("C:\\Users\\ss727\\Desktop\\admissionPred\\Admission_Prediction.csv")

In [4]:
df.head()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337.0,118.0,4.0,4.5,4.5,9.65,1,0.92
1,2,324.0,107.0,4.0,4.0,4.5,8.87,1,0.76
2,3,NaN,104.0,3.0,3.0,3.5,8.00,1,0.72
3,4,322.0,110.0,3.0,3.5,2.5,8.67,1,0.80
4,5,314.0,103.0,2.0,2.0,3.0,8.21,0,0.65

In [5]:
df.drop("Serial No.",inplace=True,axis=1)

In [6]:
df.head()

,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,337.0,118.0,4.0,4.5,4.5,9.65,1,0.92
1,324.0,107.0,4.0,4.0,4.5,8.87,1,0.76
2,NaN,104.0,3.0,3.0,3.5,8.00,1,0.72
3,322.0,110.0,3.0,3.5,2.5,8.67,1,0.80
4,314.0,103.0,2.0,2.0,3.0,8.21,0,0.65

In [7]:
df.dropna(inplace=True)

In [8]:
df.head()

,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,337.0,118.0,4.0,4.5,4.5,9.65,1,0.92
1,324.0,107.0,4.0,4.0,4.5,8.87,1,0.76
3,322.0,110.0,3.0,3.5,2.5,8.67,1,0.80
4,314.0,103.0,2.0,2.0,3.0,8.21,0,0.65
5,330.0,115.0,5.0,4.5,3.0,9.34,1,0.90

In [9]:
#Now lets train our model
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

In [10]:
x=df.drop("Chance of Admit",axis=1)
y=df["Chance of Admit"]

In [11]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.25,random_state=42)

In [12]:
mod=LinearRegression()

In [13]:
mod.fit(x_train,y_train)

LinearRegression()

In [14]:
print(mod.score(x_train,y_train))
print(mod.score(x_test,y_test))

0.8190543932724179
0.8244229840441328

In [17]:
#I took a random row and tried prediction
pred=mod.predict([[337.0,118.0,4.0,4.5,4.5,9.65,1]])

In [18]:
pred

array([0.95307203])

Import pickle library and then dump(obj,open(filename,'wb')) this command will save our model. 'wb' represents file is to be written.

Now we have saved our model

for loading our pickle file we use function load and create a obj using that function. 'rb' represents that we have model to be read.

In [20]:
#import pickle library
import pickle
filename = 'finalized_model.sav'
pickle.dump(mod, open(filename, 'wb'))
# we are makinf predictions using the pickle file
loaded_model = pickle.load(open(filename, 'rb'))
result = loaded_model.score(x_test, y_test)
print(result)

0.8244229840441328

In [21]:
pred2=loaded_model.predict([[337.0,118.0,4.0,4.5,4.5,9.65,1]])

In [22]:
pred2

array([0.95307203])

So this is how you can create pickle file and store your model. Now we will see how to create flask app using this file.